* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:
        url('mountains-1412683_1280.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.overlay {
    background: rgb(0, 0, 0, 0.5);
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.logo {
    font-size: 80px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0px;
    line-height: 1;
}

.divder {
    height: 3px;
    background: #fff;
    width: 200px;
    border-radius: 10px;
}

.desc {
    margin-bottom: 5px;
    font-size: 30px;
    color: #fff;
    font-family: monospace;
    text-transform: uppercase;
    display: block;
}

.link-bar {
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-self: flex-end;
    margin-top: 120px;
}

.link-bar .link {
    margin: 0 15px;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.link-bar .link i {
    transition: 0.5s;
}

.link-bar .link i:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}


@media(max-width:450px) {
    .logo {
        font-size: 50px;
    }

    .desc {
        font-size: 20px;
    }

    .divider {
        width: 100px;
    }
}
